# Redirectionner tous les requêtes vers web/index.php pour que ça soit la seule entrée de l'application

Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.bmp)$
    RewriteRule (.*)  web/ [QSA,L]
</IfModule>